.rsvp-container {
    /*border: 2px dotted rgb(44, 44, 68);*/
    padding: 10px;
    background: rgba(48, 54, 65, 0.5);
    border-radius: 8px;
    width: 60%;
    margin: auto;
    position: relative;
}

.rsvp-label {
    font-size: 16px;
    width: 150px; 
    padding: 10px 0px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(83,100,228, 0.2);
}

.rsvp-label-cancel {
    right: 0;
    font-size: 16px;
    width: 40px; 
    padding: 10px 0px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(83,100,228, 0.2);
    position: absolute;
    right: 0;
    top: 0;
}

.rsvp-label:has(> input:checked) {
    background-color:rgba(83,100,228, 0.6);
}

.rsvpnote {
    font-size: 16px;
}
