.column {
  float: left;
  width: 33.33%;
  border-color: red;
}

/* Clear floats after the columns */
.attendanceGrid {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  
}

.rsvpNameList {
  font-size: 20px;
}

.canStrike:hover::before {
  border-bottom: 3px solid white;
}

