/* STYLE SECTIONING TAGS */

p {
   text-align: center;
}

body {
   text-align: center;
   font-family: 'Fira Sans', sans-serif;
}

p {
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px;
}


span {
   font-size: 12px;
}

button {
   border-radius: 20px;
   border: none;
   background: #5568FE;
   color: #FFFFFF;
   font-size: 12px;
   font-family: 'Fira Sans';
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
   margin-top: 20px;
}

button:active {
   transform: scale(0.95);
}

button:focus {
   outline: none;
}

button:hover {
   cursor: pointer;
}

input {
   background-color: rgb(66, 70, 80);
   padding: 10px 15px;
   margin: 8px 0;
   max-width: 250px;
   width: 100%;
   border: black;
   border-radius: 5px;
   color: white;
   font-family: 'Fira Sans';
}

input[type="text"]:active {
   outline: 1px solid white;
} 

input[type="radio"] {
   background-color: #fff;
   font: inherit;
   color: currentColor;
   width: 1em;
   border: 0.15em solid currentColor;
}

label {
   margin: 0 10px;
   line-height: 1em;
   display: inline-block;
}

#pageContainer {
   width: 95%;
   max-width: 600px;
   margin: auto;
}

.fieldLabel {
   display: block;
   font-weight: bold;
   margin-top: 15px;
}

i {
   font-size: .75em;
}

.loginregisterLabel input {
   position: fixed;
   opacity: 0;
   pointer-events: none;
}

.loginregisterLabel {
   background-color: rgb(32, 46, 77);
   padding: 15px;
   border-radius: 5px;
}

.loginregisterLabel:has(> input:checked) {
   background-color:#5568FE;
}