/* STYLE SECTIONING TAGS */

p {
   text-align: center;
}

body {
   text-align: center;
   font-family: 'Fira Sans', sans-serif;
}

p {
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 20px 0 30px;
}


span {
   font-size: 12px;
}

button, .btn {
   border-radius: 20px;
   border: none;
   background: #5568FE;
   color: #FFFFFF;
   font-size: 12px;
   font-family: 'Fira Sans';
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
   margin-top: 20px;
}

button:active {
   transform: scale(0.95);
}

button:focus {
   outline: none;
}

button:hover {
   cursor: pointer;
}

input {
   background-color: rgb(66, 70, 80);
   padding: 10px 15px;
   margin: 8px 0;
   max-width: 250px;
   width: 100%;
   border: black;
   border-radius: 5px;
   color: white;
   outline: none;
   font-family: 'Fira Sans';
   line-height: 16px;
   font-size: 16px;
}

input[type="radio"] {
   display: none;
}

label {
   margin: 0 10px;
   line-height: 1em;
   display: inline-block;
}

#pageContainer {
   width: 95%;
   max-width: 600px;
   margin: auto;
}

.fieldLabel {
   display: block;
   font-weight: bold;
   margin-top: 15px;
   margin-bottom: 0px;
   font-size: 14px;
}

i {
   font-size: .75em;
}

.loginregisterLabel input {
   position: fixed;
   opacity: 0;
   pointer-events: none;
}

.loginregisterLabel {
   background-color: rgb(32, 46, 77);
   padding: 15px;
   border-radius: 5px;
   width: 70px;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   transition: 0.2s all linear;
}

.loginregisterLabel:has(> input:checked) {
   background-color:#5568FE;
}

.accountHeader {
   width: 290px;
   padding-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
}

.radiospan {
   height: 115px;
   display: flex;
   align-items: center;
   display: inline-block;
   text-align: center;
   width: 90px;
   background-color:rgb(32, 46, 77);
   border-radius: 10px;
   padding-top: 5px;
   margin-top: 20px;
   box-sizing: border-box;
   border: 4px dotted rgb(32, 46, 77);
   transition: 0.2s all linear;
   letter-spacing: 0.3px;
}

.radiospan:has(> input:checked ) {
   background-color:rgb(85,104,254);
   border: 4px dotted rgb(63, 75, 170);
}

.btn {
   text-decoration: none;
   margin: 10px;
}

.infoCard {
   background-color: #282c34;
   border-radius: 5px;
   padding: 5px;
   margin-left: auto;
   margin-right: 0;
}

.infoText {
   text-align: center;
   line-height: 5px;
   font-size: 15px;
   margin: 15px;
}

.gridContainer {
   display: grid;
   grid-template-columns: 300px 300px;
   width: 600px;
   margin: auto;
}

.gridCard {
   margin: 10px auto;
   text-decoration: none;
}



#longline {
   border-bottom: 4px dotted #8185a1;
   margin-top: 5px;
}