.toLeft {
    margin-top: 60px;
    text-align: left;
    align-items: left;
}

.backButton{
    position: absolute;
    left: 30;
    height: 38.5px;
}

.editButton {
    height: 30px;
    width: 30px;
    padding: 5px;
    border: 1px solid rgba(44, 49, 58, 0.8);
    text-align: center;
    position: absolute;
    right: 180px;
}

.header {
}