.eventcard {
    border-radius: 10px;
    border: 1px white;
    height: 100px;
    width: 250px;
    background-color: rgba(44, 49, 58, 0.8);
    padding-top: 10px;
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.3);
}

.eventtime {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}