.gridContainer {
    display: grid;
    grid-template-columns: 300px 300px;
    width: 600px;
    margin: auto;
}

.gridCard {
    margin: 10px auto;
    text-decoration: none;
}

.pageButtons {
    width: 80%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pageButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid rgba(44, 49, 58, 0.8);;
    cursor: pointer;
}

.pageButtons a:hover {
    color: white;
    background-color: rgba(44, 49, 58, 0.8);;
}

.paginationActive a {
    color: white;
    background-color: rgba(44, 49, 58, 0.8);;
}

.paginationContainer {
    text-align: center;
}

.pageButtons {
    width: 100%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}

.pageButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid rgba(44, 49, 58, 0.8);;
    cursor: pointer;
}

.pageButtons a:hover {
    color: white;
    background-color: rgba(44, 49, 58, 0.8);;
}

.paginationActive a {
    color: white;
    background-color: rgba(44, 49, 58, 0.8);;
}

.profileIcon {
    position: absolute;
    margin-left: 150px;
    height: 38.5px;
}
