body {
    font-family: 'Fira Sans';
}

h2 {
    color: white;
}

label,
textarea {
    font-size: .8rem;
    color: white;
}

label {
    display: block;
    margin-bottom: 0px;
    margin-top: 10px;
}

textarea {
    background-color: rgb(66, 70, 80);
    padding: 10px 15px;
    margin: 8px 0;
    max-width: 250px;
    width: 100%;
    border: black;
    border-radius: 5px;
    color: white;
    outline: none;
    font-family: 'Fira Sans';
    line-height: 16px;
    font-size: 16px;
    resize: none;
 }

.create_event_button {
    width: 60%;
    margin: auto;
    padding: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}